/* ========COMMON STYLES======== */
h1,
h2,
h3,
h4,
h5,
h6
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}


button {
    cursor: pointer;    
}

button:hover,
button:focus {
    color: #4D5AE5;
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;    
    padding-left: 15px;
    padding-right: 15px;
}

.sections {
    padding-top: 60px;
    padding-bottom: 60px;
}

/* ========/COMMON STYLES======== */

/* ========HEADR STYLES======== */
.page-header {
    padding-top: 29px;
    padding-bottom: 30px;
}

.page-navigation {
    display: flex;    
}

.container-header {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
}

.menu  {
    display: flex;
    column-gap: 40px;
}

.list {
    display: flex;
    column-gap: 41px;  
}

.logotype {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.span-headr {
    color: #2e2f42;
}

.menu-link {
    /* Body Medium */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE, #2E2F42);    
}

.menu-link:hover,
.menu-link:focus {
    color: #404BBF;
}

.contacts {
    font-style: normal;
}

.contacts-link {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

/* ========/HEADR STYLES======== */

/* ========BODE STYLE=========== */
.hero {
    background-color: #2e2f42;
    width: 1440px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
       
}

.main-title {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding-top: 188px;
    width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

.button-mail {
    display: flex;
    padding: 16px 32px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
}


.button-mail:hover,
.button-mail:focus {
    background-color: #404BBF;
}

.title-benefits {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    background-color: #FFFFFF;
}

.benefits {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.benefits-text { 
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--SLATE, #434455);
}

.container-benefits {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    column-gap: 24px;    
}

.list-team {
    width: calc((100% - 96px) / 4);
}

.our-team {
    background-color: #F4F4FD;
    width: 1440px;
    height: 732px;
    margin-left: auto;
    margin-right: auto;       
}

.title-team {    
    margin-bottom: 72px;
    margin-top: 120px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    line-height: 1.11;        
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;        
}

.team {    
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding-top: 32px;
}

.team-background {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;    
}

.team-text {    
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-bottom: 32px;
    margin-top: 8px;
}

.colums-team {    
    column-gap: 24px;
    width: calc((100% - 96px) / 4);
}

.title-portfolio {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;     
}

.portfolio {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding-top: 32px;
    padding-left: 16px;

}

.portfolio-text {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-bottom: 32px;
    padding-left: 16px;
    margin-top: 8px;
}

.colums-portfolio {
    column-gap: 24px;
    flex-wrap: wrap;    
}

.section-portfolio {
    background-color: #FFFFFF;
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
    margin-bottom: 48px;
    width: calc((100% - 48px) / 3);    
}


/* ========/BODE STYLE=========== */

/* ========FOOTER============= */
.logo-span {
    color: #4D5AE5;
}

.mail-footer {
    background-color: #2E2F42;
    width: 1440px;
    height: 312px;
    margin-left: auto;
    margin-right: auto;
    
}

.logotype-footer {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;     
}

.span-studio {
    color: #F4F4fD;
}

.footer-text {    
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    width: 264px;
    margin-top: 17px;   
}

.container-footer {
    width: 1158px;
    padding-left: 156px;
    padding-top: 101px;
}

/* ========/FOOTER============= */