/* ========COMMON STYLES======== */
.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

button {
    cursor: pointer;    
}

button:hover,
button:focus {
    color: #4D5AE5;
}

body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
/* ========/COMMON STYLES======== */

/* ========HEADR STYLES======== */
.logotype {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--NAVY-BLUE, #4d5ae5);
}

.span-headr {
    color: #2e2f42;
}

.menu-link {
    /* Body Medium */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE, #2E2F42);
}

.menu-link:hover,
.menu-link:focus {
    color: #404BBF;
}

.contacts {
    font-style: normal;
}

.contacts-link {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

/* ========/HEADR STYLES======== */

/* ========BODE STYLE=========== */
.hero {
    background-color: #2e2f42;
}

.title-benefits {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--NAVY-BLUE, #2E2F42);
    background-color: #FFFFFF;
}

.main-title {
    text-align: center;     
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--WHITE, #FFFFFF);    
}

.button-mail {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--WHITE, #FFFFFF);
    background-color: #4D5AE5;
}

.button-mail:hover,
.button-mail:focus {
    background-color: #404BBF;
}

.benefits {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE, #2E2F42);
}

.benefits-text { 
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--SLATE, #434455);
}

.our-team {
    background-color: #F4F4FD;
}

.title-team {    
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 36px;
        line-height: 1.11;        
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--NAVY-BLUE, #2E2F42);
}

.team {    
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE, #2E2F42);    
}

.team-background {
    background-color: #FFFFFF;
}

.team-text {    
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--SLATE, #434455);
}

.title-portfolio {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--NAVY-BLUE, #2E2F42);        
}

.portfolio {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE, #2E2F42);
}

.portfolio-text {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--SLATE, #434455);
}

/* ========/BODE STYLE=========== */

/* ========FOOTER============= */
.logo-span {
    color: #4D5AE5;
}

.mail-footer {
    background-color: #2E2F42;
}

.logotype-footer {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.span-studio {
    color: #F4F4fD;
}

.footer-text {    
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

/* ========/FOOTER============= */